<!DOCTYPE html>
<html>

<head>
    <title>文件中转站</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- 自定义CSS -->
    <style type="text/css">
        /* css here */
        #filelist-table {
            width: 80%
        }
    </style>
    <!-- 自定义JavaScript -->
    <script type="text/javascript">
        // 网页加载完成后自动获取文件列表
        $(document).ready(() => {
            getfilelist()
        })
    </script>
    <script type="text/javascript">
        // 云端下载功能
        function clouddownload() {
            //var url = $("#urlbox").val();
            var data = $("#urlform").serialize();
            //console.log("开始下载");
            $("#status").text("下载中...");
            trig_toast("云端开始下载");
            $.ajax({
                type: "post",
                url: "clouddownload",
                data: data,
                success: (resp) => {
                    console.log(resp);
                    $("#status").text("下载完成");
                    getfilelist();
                    trig_toast("云端下载完成");
                }
            });
        };

        // 获取云端文件列表
        function getfilelist() {
            console.log("function getfilelist");
            $.ajax({
                // dataType: "text/json",
                type: "get",
                url: "listfile",
                success: (resp) => {
                    $("#filelist_tbody").empty();
                    // 添加文件最近修改日期lastmodified, 文件大小size
                    var fileinfolist = resp.fileinfolist;
                    console.log("Response:" + resp.fileinfolist);
                    for (i = 0; i < fileinfolist.length; i++) {
                        var list_item_tr = $('<tr><td><div class= "btn-group text-nowrap" >\
                                <button type="button" class="btn btn-outline-secondary">下载</button>\
                                <button type="button" class="btn btn-outline-danger">删除</button></div></td></tr>');
                        var filename_td = $('<td>' + fileinfolist[i].filename + '</td>');
                        var lastmodified_td = $('<td><small class="text-muted">' + fileinfolist[i].lastmodified + '</td>');
                        var size_td = $('<td><small class="text-muted">' + fileinfolist[i].size + '</td>');
                        list_item_tr.prepend(size_td);
                        list_item_tr.prepend(lastmodified_td);
                        list_item_tr.prepend(filename_td);
                        $("#filelist_tbody").append(list_item_tr)
                    }
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
            // trig_toast("文件列表已更新");
        };

        // 下载云端列表文件
        function filedownload(e) {
            var filename = $(e).parent().siblings().filter("#filename").text();
            console.log("download file: " + filename);
            $("#status").text("开始下载" + filename);
            trig_toast("开始下载" + filename);
            // $.ajax({
            //     type: "get",
            //     url: "download",
            //     // data: new FormData().append("filename", filename),
            //     data: "filename=" + filename,
            //     success: (resp)=>{
            //         console.log("return ok")
            //     }
            // })
            window.location.href = "download?filename=" + filename;
        };

        // 删除云端列表文件
        function deletefile(e) {
            var filename = $(e).parent().siblings().filter("#filename").text();
            console.log("delete file: " + filename);
            $("#status").text("删除文件" + filename);
            trig_toast("删除文件" + filename);
            $.ajax({
                type: "post",
                url: "deletefile",
                // 以json格式传入data；dataType参数标识返回response数据格式
                dataType: "json",
                data: { "filename": filename },
                success: (resp) => {
                    console.log(resp.filename + "删除完成");
                    $("#status").text(resp.filename + "删除完成");
                    trig_toast(resp.filename + "删除完成");
                    getfilelist();
                },
                error: (XMLHttpRequest, textStatus, errorThrown) => {
                    console.log(textStatus);
                    $("#status").text(errorThrown);
                }
            })
        };

        // Toast Trigger
        function trig_toast(message) {
            var toastLive = $("#liveToast");
            toastLive.children().children().filter(".toast-body").text(message);
            const toast = new bootstrap.Toast(toastLive);
            toast.show()
        }

    </script>
</head>

<body>
    <h1 class="m-2">文件中转站</h1>
    <hr>
    <div class="m-2" id="urlcontainer">
        <form class="row align-items-center" action="#" onsubmit="return false" id="urlform">
            <label class="col-auto">云下载：</label>
            <input class="col-auto m-2 p-1" type="text" name="url" id="urlbox" placeholder="请输入下载链接">
            <button type="button" class="btn btn-secondary col-auto m-2" onclick="clouddownload()">下载</button>
        </form>
    </div>

    <div class="" id="filelist-container">
        <table class="table">
            <tr>
                <td>
                    <span>文件列表：</span>
                    <button type="button" class="btn btn-secondary" id="refresh_btn" onclick="getfilelist()">刷新</button>
                </td>
                <td>
                    <!-- TODO:文件上传功能：需要在form表单中制定mime/formdata类型，看如何写html内容 -->
                    <form action="/uploadfile" method="post">
                        {{ fileuploadform.submmit(class="btn btn-outline-secondary") }}
                        {{ fileuploadform.file(class="") }}
                    </form>
                </td>
            </tr>
        </table>
        <div class="table-container m-2" id="filelist">
            <!-- 新云端列表 -->
            <table class="table-sm" id="filelist-table">
                <thead>
                    <tr>
                        <th>文件名</th>
                        <th>修改时间</th>
                        <th>大小</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider align-middle" id="filelist_tbody">
                    <!-- Ajax获取 -->
                </tbody>
            </table>
        </div>
        <!-- Test Area Begin -->
        <div class="invisible" id="testarea">
        </div>
        <!-- Test Area End -->
    </div>

    <!-- Deprecated! 原显示状态，现使用Toast代替 -->
    <div class="invisible" id="status-container">状态：<span id="status">...</span></div>
    <!-- Toast Start -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div class="toast align-items-center text-bg-primary" id="liveToast" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <!-- Toast End -->
</body>

</html>